		{{ template "theme/partials/header.html" . }}

<div>
<article class="hentry" role="article">



<div id="blog-archives">
    Hi there! My name is Polina, and I'm a software engineer at <a href="https://www.indiegogo.com" target="_blank">Indiegogo</a>. I love making things for the web-- software engineering is a means through which I can be proud of building services that empower those around me.
<br><br>
    This blog is about me being excited about coding and my learnings.

<br><br>
<table> 
{{ range .Data.Pages }}
{{ if ( ne true .Params.staticpage ) }}
<ul id="tags">
</ul>
<tr>
<td style="width: 5.5em">
<time style="padding-right: 10px; color: #444; font-size: 14px;" datetime="" pubdate>{{ .Date.Format "Jan 2 2006" }}</time>
</td>
<td style="padding-right: 0.25em; color: orange;">
  {{ range .Params.categories }}
    {{ if eq . "favorite"}} ★ {{ end }}
  {{ end }}
</td>
<td>
<span><a  style="font-family: Montserrat, sans-serif; color: black;font-size: 14px;" href="{{.RelPermalink}}">{{.Title}}</a></span>
</td>
</tr>
{{ end }}
{{ end }}
</table>
</div>


</article>
</div>

	{{ template "theme/partials/footer.html" }}	
